
#wrapper .sidebar {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 260px;
  height: 100%;
  float: left;
  background-color: #2b333e;
  position: fixed;
  left: 0;
}

#wrapper .main {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: calc(100% - 260px);
  left: 0;
  position: relative;
  float: right;
  background-color: #f5f5fa;
}

#wrapper #sidebar-nav,
#wrapper .main {
  padding-top: 80px;
}

@media screen and (max-width: 767px) {
  #wrapper #sidebar-nav,
  #wrapper .main {
    padding-top: 130px;
  }
}


@media screen and (max-width: 1024px) {
  #wrapper .sidebar {
    left: -260px;
  }
  #wrapper .main {
    width: 100%;
  }
  #wrapper .navbar {
    left: 0 !important;
  }
  #wrapper .btn-toggle-fullwidth {
    color: #00aaff;
  }
  .btn-toggle-minified {
    display: none;
  }
}

.main-content {
  padding: 28px 10px;
}

.navbar + .main-content {
  padding: 105px 0 28px 5px;
}
@media screen and (max-width: 767px) {
  .navbar + .main-content {
    padding-top: 155px;
  }
}

html.fullscreen-bg,
html.fullscreen-bg body,
html.fullscreen-bg #wrapper {
  height: 100%;
}

/********************
 * SIDEBAR NAVIGATION
 ********************/
.sidebar {
  z-index: 9;
}
.sidebar .nav > li > a {
  padding: 18px 30px;
  color: #aeb7c2;
  border-left: 5px solid transparent;
}
.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus,
.sidebar .nav > li > a.active {
  color: #fff;
  background-color: transparent;
}
.sidebar .nav > li > a:hover i,
.sidebar .nav > li > a:focus i,
.sidebar .nav > li > a.active i {
  color: #00aaff;
}
.sidebar .nav > li > a:focus,
.sidebar .nav > li > a.active {
  background-color: #252c35;
  border-left-color: #00aaff;
}
.sidebar .nav > li > a[data-toggle="collapse"] .icon-submenu {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  float: right;
  position: relative;
  top: 5px;
  font-size: 12px;
  line-height: 1.1;
  transform: rotate(-90deg);
}

.sidebar .nav > li > a .badge {
  font-weight: 400;
  background-color: #f9354c;
}
.sidebar .nav {
  /* submenu */
}
.sidebar .nav i {
  margin-right: 10px;
  font-size: 18px;
}
.sidebar .nav span {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  top: -2px;
}
.sidebar .nav .nav {
  background-color: #252c35;
}
.sidebar .nav .nav > li > a {
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.sidebar .nav .nav > li > a:focus,
.sidebar .nav .nav > li > a.active {
  background-color: transparent;
  border-left-color: transparent;
}
.sidebar .nav .nav > li > a.active a {
  color: #fff;
}
