@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Black.eot");
  src: url("../fonts/Roboto/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Black.woff") format("woff"), url("../fonts/Roboto/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.eot");
  src: url("../fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Light.eot");
  src: url("../fonts/Montserrat/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNova-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-y: scroll;
}

.hidden {
  display: none;
}

html.noscroll {
  position: fixed;
  width: 100%;
  height: 100%;
}

body.noscroll {
  min-height: 100vh;
  position: relative;
}
body.noscroll:before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
  background: #000;
  position: absolute;
  z-index: 10;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background: #1d1f20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: loader 5s linear forwards;
          animation: loader 5s linear forwards;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  -webkit-animation: lds-hourglass 1.2s infinite;
          animation: lds-hourglass 1.2s infinite;
}

@-webkit-keyframes loader {
  0%, 25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loader {
  0%, 25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes lds-hourglass {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(900deg);
            transform: rotate(900deg);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    -webkit-transform: rotate(1800deg);
            transform: rotate(1800deg);
  }
}
@keyframes lds-hourglass {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(900deg);
            transform: rotate(900deg);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    -webkit-transform: rotate(1800deg);
            transform: rotate(1800deg);
  }
}
.header ul {
  list-style: none;
}
.header-block {
  background: #333333;
}
.header-block__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-block__currency {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 600;
  color: #777777;
}
.header-block__links {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-block__auth li {
  display: inline-block;
}
.header-block__auth li:nth-child(2) {
  margin-left: 27px;
}
.header-block__auth a {
  text-transform: none;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 600;
  color: #777777;
}
.header-block__cart {
  position: relative;
}
.header-block__cart:hover .header-block__items {
  display: block;
}
.header-block__basket {
  border: none;
  cursor: pointer;
  padding: 15px 33px;
  position: relative;
  background: #00c8c8;
  font-family: Montserrat;
  font-size: 13px;
  color: #fff;
}
.header-block__basket span:nth-child(2) {
  padding-left: 20px;
}
.header-block__items {
  display: none;
  padding: 20px;
  width: 450px;
  border-radius: 3px;
  background: #f8f8f8;
  -webkit-box-shadow: 0 0 5px 0 #646363;
          box-shadow: 0 0 5px 0 #646363;
  position: absolute;
  top: 103%;
  left: -250px;
  z-index: 3;
}
.header-block__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-block__product:nth-child(n+2) {
  margin-top: 15px;
}
.header-block__product-photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #8f8d8d;
}
.header-block__product-photo img {
  max-width: 100%;
  height: auto;
}
.header-block__product-name {
  min-width: 190px;
  max-width: 190px;
  text-transform: capitalize;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 15px;
  color: #222;
}
.header-block__product-count {
  width: 50px;
  padding: 4px 5px;
  font-family: Montserrat;
  font-size: 15px;
  color: #222;
}
.header-block__product-delete {
  border: none;
  background: #00c8c8;
  padding: 7px 10px;
  cursor: pointer;
  border-radius: 3px;
  font-family: Montserrat;
  font-size: 15px;
  color: #fff;
}
.header-block__items-actions p {
  text-align: center;
  margin-top: 20px;
  text-transform: capitalize;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 15px;
  color: #222;
}
.header-block__items-actions button {
  border: none;
  background: #00c8c8;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 3px;
  font-family: Montserrat;
  font-size: 15px;
  color: #fff;
}
.header-block__items-actions button:nth-child(2) {
  margin-left: 50px;
}
.header-holder {
  background: #f8f8f8;
}
.header-holder__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-holder__logo {
  position: relative;
  z-index: 2;
}
.header-holder__logo a {
  text-transform: uppercase;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 24px;
  color: #222;
}
.header-holder__logo span {
  font-weight: bold;
}
.header-holder__list {
  z-index: 2;
  position: relative;
}
.header-holder__list > li {
  padding: 42px 0 51px 0;
  display: inline-block;
  position: relative;
}
.header-holder__list > li:hover > a {
  color: #00c8c8;
}
.header-holder__list > li:hover > div {
  display: block;
}
.header-holder__list > li:nth-child(n+2) {
  margin-left: 50px;
}
.header-holder__list .arrow:before {
  content: "";
  font-size: 12px;
  color: #6b6b6b;
  position: absolute;
  top: 66px;
  left: 0;
  z-index: 4;
}
.header-holder__list a {
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 600;
  color: #222;
}
.header-holder__list a:hover {
  color: #00c8c8;
}
.header-holder__submenu {
  width: 470px;
  display: none;
  padding: 27px 29px;
  background: #f8f8f8;
  -webkit-transform: translateX(-70%);
          transform: translateX(-70%);
  -webkit-box-shadow: 0 17px 24px rgba(0, 0, 0, 0.14);
          box-shadow: 0 17px 24px rgba(0, 0, 0, 0.14);
  position: absolute;
  top: 92px;
  left: 0;
  z-index: 5;
}
.header-holder__submenu-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-holder__submenu-inner div:nth-child(1) {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}
.header-holder__submenu-inner div:nth-child(2) {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}
.header-holder__submenu p {
  margin-bottom: 24px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 20px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  color: #575153;
}
.header-holder__submenu li:nth-child(n+2) {
  margin-top: 10px;
}
.header-holder__submenu a {
  text-transform: none;
  text-decoration: none;
  line-height: 20px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  color: #575153;
}
.header-holder__submenu-banner {
  margin-top: 57px;
  text-align: center;
  background: #333333;
  padding: 53px 53px 35px 53px;
}
.header-holder__submenu-banner p {
  text-transform: uppercase;
  text-decoration: none;
  line-height: 32px;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 600;
  color: #fff;
}
.header-holder__form {
  position: absolute;
  top: 42px;
  left: 300px;
  z-index: 4;
}
.header-holder__form input {
  width: 190px;
  height: 30px;
  padding: 10px;
  border: 1px solid #e7e7e7;
  background-color: #f8f8f8;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  color: #989898;
}
.header-holder__form button {
  border: none;
  background: none;
  cursor: pointer;
  color: #989898;
  position: absolute;
  top: 7px;
  right: 5px;
  z-index: 4;
}
.header-buy {
  width: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  z-index: 10;
  padding: 20px;
}
.header-buy div {
  margin-bottom: 20px;
}
.header-buy label {
  display: block;
  font-family: Montserrat;
  font-size: 15px;
  color: #222;
}
.header-buy input {
  width: 100%;
  margin-top: 5px;
  padding: 5px 10px;
}
.header-buy button {
  display: inline-block;
  padding: 5px 20px;
  border: none;
  background: #00c8c8;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
}

.lookbook {
  display: grid;
  grid-gap: 20px;
  margin-top: 125px;
  grid-template-columns: repeat(3, 1fr);
}
.lookbook-item {
  background: #f8f8f8;
  padding: 20px 20px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.lookbook-photo {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}
.lookbook-photo img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.lookbook-info {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  text-align: right;
}
.lookbook-info p:nth-child(1) {
  text-transform: uppercase;
  text-decoration: none;
  line-height: 40px;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 300;
  color: #777777;
}
.lookbook-info p:nth-child(2) {
  margin: 20px 0;
  line-height: 22px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  color: #777777;
}
.lookbook-info span {
  font-weight: 700;
}
.lookbook-info a {
  display: inline-block;
  border: 2px solid #737373;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  color: #777777;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
  padding: 15px 33px;
}
.lookbook-info a:hover {
  color: #fff;
  background: #00c8c8;
  border-color: #00c8c8;
}

.footer {
  margin-top: 123px;
}
.footer ul {
  list-style: none;
}
.footer-block {
  background: #f8f8f8;
}
.footer-box {
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-links {
  -ms-flex-preferred-size: 19%;
      flex-basis: 19%;
}
.footer-links p {
  margin-bottom: 25px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 20px;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 600;
  color: #575153;
}
.footer-list li:nth-child(n+2) {
  margin-top: 10px;
}
.footer-list a {
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
  text-transform: none;
  text-decoration: none;
  line-height: 20px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  color: #575153;
}
.footer-list a:hover {
  color: #00c8c8;
}
.footer-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-section {
  width: 570px;
  height: 200px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-section:nth-child(1) {
  background: #333333;
}
.footer-section:nth-child(2) {
  background: #00c8c8;
}
.footer-section p {
  text-transform: uppercase;
  text-decoration: none;
  line-height: 48px;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 300;
  color: #fff;
}
.footer-section p:nth-child(1) {
  font-weight: 700;
}
.footer-social li {
  display: inline-block;
}
.footer-social li:nth-child(n+2) {
  margin-left: 50px;
}
.footer-social a {
  text-transform: uppercase;
  text-decoration: none;
  line-height: 48px;
  font-size: 36px;
  font-weight: 300;
  color: #fff;
}
.footer-author {
  margin-top: 56px;
  background: #333333;
}
.footer-author-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-info {
  padding: 16px 0;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  color: #999999;
}
.footer-info span:nth-child(2) {
  margin-left: 30px;
}

.collection {
  background: #f8f8f8;
}
.collection-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.collection-photo img {
  margin-top: -111px;
}
.collection-brand {
  top: 85px;
  letter-spacing: 100px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 450px;
  font-weight: 700;
  color: #575153;
}
.collection-link {
  padding-right: 50px;
  padding-bottom: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.collection-link a {
  display: inline-block;
  border: 2px solid #737373;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  color: #777777;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
  padding: 19px 33px;
}
.collection-link a:hover {
  color: #fff;
  background: #00c8c8;
  border-color: #00c8c8;
}

.fashion {
  margin-top: 165px;
  padding: 20px 50px 0 50px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 500px 173px 500px;
}
.fashion-item {
  position: relative;
}
.fashion-block {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
  min-height: 500px;
}
.fashion-block:hover {
  -webkit-box-shadow: 0 3px 7px 2px #d4d3d3;
          box-shadow: 0 3px 7px 2px #d4d3d3;
}
.fashion-block:hover .fashion-character {
  padding: 15px;
  max-height: 100vh;
  -webkit-box-shadow: 0 3px 7px 2px #d4d3d3;
          box-shadow: 0 3px 7px 2px #d4d3d3;
}
.fashion-price {
  text-transform: uppercase;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 300;
  color: #9a9a9a;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 2;
}
.fashion-price span {
  padding-right: 20px;
}
.fashion-price .discount {
  text-decoration: line-through;
}
.fashion-photo {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f8f8f8;
  position: relative;
}
.fashion-photo a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.fashion-photo img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.fashion-character {
  z-index: 3;
  max-height: 0;
  padding: 0 15px;
  overflow: hidden;
  text-align: center;
  background: #fff;
  position: relative;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}
.fashion-character p:nth-child(1) {
  text-transform: uppercase;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  color: #727272;
}
.fashion-character p:nth-child(2) {
  margin: 15px 0;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  color: #8e8c8c;
}
.fashion-character button {
  width: 30px;
  height: 30px;
  border: none;
  color: #fff;
  border-radius: 50%;
  background: #727272;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
  cursor: pointer;
}
.fashion-character button:nth-child(n+2) {
  margin-left: 10px;
}
.fashion-character button:hover {
  background: #00c8c8;
}
.fashion-character button i {
  line-height: 20px;
}
.fashion-item:nth-child(3) {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
.fashion-item:nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}
.fashion-item:nth-child(5) {
  grid-column-start: 3;
  grid-column-end: 4;
}
.fashion-item:nth-child(6) {
  grid-column-start: 4;
}